<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Admin Dashboard</title>
</head>

<header>
    <nav>
        <div class="logo">Echo-Host</div>
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <% if (user.level === 2) { %>
                <li><a href="/admin">Admin</a></li>
                <li><button onclick="window.location.href='/admin/vps'">Voir tous les VPS</button></li>
            <% } %>
            <li><a href="/logout">Se déconnecter</a></li>
        </ul>
    </nav>
</header>
<body>
    <h1>Tableau de bord Administrateur</h1>
    <p>Bienvenue, <%= user.username %>! Vous êtes un administrateur.</p>

    <h2>Ajouter un serveur VPS</h2>
    <form action="/add-vps" method="post">
        <label for="email">Email de l'utilisateur :</label>
        <input type="email" name="email" required>

        <br>
    
        <label for="vpsName">Nom du VPS :</label>
        <input type="text" name="vpsName" required>

        <br>
    
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" name="username" required>

        <br>
    
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" required>

        <br>
    
        <label for="ram">RAM :</label>
        <input type="text" name="ram" required>

        <br>
    
        <label for="disk">Disque :</label>
        <input type="text" name="disk" required>

        <br>
    
        <label for="vcpu">CPU :</label>
        <input type="text" name="vcpu" required>

        <br>
    
        <label for="ipv4">IPv4 :</label>
        <input type="text" name="ipv4" required>

        <br>
    
        <label for="os">OS :</label>
        <input type="text" name="os" required>

        <br>
    
        <label for="purchaseDate">Date d'achat :</label>
        <input type="date" name="purchaseDate" required> <!-- Champ pour la date d'achat -->

        <br>
    
        <button type="submit">Ajouter VPS</button>
    </form>
    
    <div class="footer">
        <div class="copyright">
          &copy; Copyright <strong><span>Echo-Host</span></strong>. Tous droits réservés.
        </div>
</body>
</html>
