<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Tableau de bord Administrateur</h1>
    <p>Bienvenue, <%= user.username %>! Vous êtes un administrateur.</p>

    <h2>Ajouter un serveur VPS</h2>
    <form action="/add-vps" method="POST">
        <input type="email" name="email" placeholder="Email de l'utilisateur" required>
        <input type="text" name="vpsName" placeholder="Nom du VPS" required> <!-- Ajout du champ pour le nom du VPS -->
        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <input type="number" name="ram" placeholder="RAM (en Go)" required>
        <input type="number" name="disk" placeholder="Disque (en Go)" required>
        <input type="number" name="vcpu" placeholder="vCPU" required>
        <input type="text" name="ipv4" placeholder="IPv4" required>
        <input type="text" name="os" placeholder="Système d'exploitation" required>
        <button type="submit">Ajouter VPS</button>
    </form>


    <a href="/logout">Se déconnecter</a>

    <div class="footer">
        <div class="copyright">
          &copy; Copyright <strong><span>Echo-Host</span></strong>. Tous droits réservés.
        </div>
</body>
</html>
