<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="css/styles.css"> <!-- Lien vers votre fichier CSS -->
</head>
<body>
    <header>
        <nav>
            <div class="logo">Echo-Host</div>
            <ul>
                <li><a href="/">Home</a></li>
                <% if (user.level === 2) { %>
                    <li><a href="/admin">Admin</a></li>
                <% } %>
                <li><a href="/logout">Se déconnecter</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Bienvenue, <%= user.username %>!</h1>
        <p>Niveau de permissions: <%= user.level %></p>
        </div>
    </main>
</body>
</html>
