<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="css/styles.css"> <!-- Lien vers votre fichier CSS -->
</head>

<header>
    <nav>
        <div class="logo">Echo-Host</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="offre">Account</a></li>
            <li><a <% if (user.level === 2) { %>
                <a href="/admin">Admin</a>
            <% } %> </a></li>
        </ul>
    </nav>
</header>

<body>
    <h1>Bienvenue, <%= user.username %>!</h1>

</body>
</html>
