<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Echo-Host</div>
            <ul>
                <li><a href="/dashboard">Home</a></li>
                <% if (user.level === 2) { %>
                    <li><a href="/admin">Admin</a></li>
                    <li><button onclick="window.location.href='/admin/vps'">Voir tous les VPS</button></li>
                <% } %>
                <li><a href="/logout">Se déconnecter</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Bienvenue, <%= user.username %>!</h1>
        <p>Niveau de permissions: <%= user.level %></p>

        <!-- Affichage des VPS de l'utilisateur -->
        <ul class="vps-list">
        <ul>
            <% user.vps.forEach(vps => { %>
                <li>
                    <strong>Nom du VPS :</strong> <%= vps.vpsName %> <br>
                    <button onclick="window.location.href='/manage/<%= vps.id %>'">Gérer</button>
                </li>
            <% }) %>
            </ul>
        </ul>
        
    </main>
</body>

<div class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Echo-Host</span></strong>. Tous droits réservés.
    </div>

</html>
