@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.material-symbols-outlined {
  margin-right: 6px; /* Espace entre l'icône et le texte */
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body, html {
    margin: 0;
    padding: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Inter", serif;
    /* font-family: "Poppins", sans-serif; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
}

.delete-button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 15px;
    color: #000000;
    background-color: #d41212;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.delete-button:hover {
    background-color: rgb(167, 19, 19);
}


main h1 {
    text-align: center;
}


header {
    background-color: #1663c7;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo > img {
  width: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

nav ul {
    float: right;
    list-style: none;
    display: flex;
    margin: 0; /* Retirer la marge par défaut */
    padding: 0; /* Retirer le remplissage par défaut */
    margin-left: auto; /* Pousse l'ul vers la droite */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #000000;
}

.vps-list {
    padding: 0;
}

.vps-box {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 15.5px;
    box-shadow: 0 1px 3px rgba(0, 1, 0.25, 1.70);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease;
}

.vps-box:hover {
    background-color: #ffffff;
    width: 81%;
    box-shadow: 0 5px 8px rgba(0, 1, 1, 2);
}

.manage-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #206ee2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.manage-button:hover {
    background-color: #2055a5;
}

.footer {
    text-align: center;
    color: #a0a0a0;
  }

.profile {
  width: 50px;
  height: 50px;
}

.profile > img {
  width: 50px;
  height: 50px;  
  border-radius: 100px;
}

.pcont {
  display: none;
  width: 230px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 60px;
  z-index: 9999;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.pcont.active {
  display: block;
  opacity: 1;
}

.pmenu {
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  list-style: none;
  margin: 35px 10px;
  padding: 10px;
  border-radius: 5px;
}

.pmenu ul {
  padding: 0;
  margin: 0;
}

.pmenu > ul > li {
  list-style: none;
  text-decoration: none;
  padding: 10px 0;
  cursor: pointer;
  padding: 13px;
  border-radius: 5px;
  color: black;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center; /* Aligne verticalement l'icône et le texte */
}

.pmenu > ul > li > a {
  text-decoration: none;
  color: black;
}

.pmenu > ul > li:hover {
  background: rgba(0, 0, 0, 0.02);
}

.pmenu > ul > li:nth-child(8):hover {
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
}

.pinfo {
    margin: 10px;
    display: flex; /* Utilise flexbox pour aligner les éléments horizontalement */
    align-items: center; /* Centre verticalement les éléments */
}

.pinfo img {
    width: 40px;
    margin-right: 10px; /* Ajoute un espacement entre l'image et le texte */
    border-radius: 50%; /* Pour une image ronde (optionnel) */
}

.pinfo span {
    text-align: center; /* Centre le texte horizontalement */
}

.pinfo div {
  gap: 15px;
}

.user {
  font-size: 14px;
  border-radius: 50px;
  padding: 5px;
  border: solid 1px lightblue;
  color: lightblue;
  background-color: rgba(255, 0, 0, 0.1);
}

.admin {
  font-size: 14px;
  border-radius: 50px;
  padding: 5px;
  border: solid 1px red;
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
}

.sp {
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 0;
}